
target/
__pycache__/
.ipynb_checkpoints/
GeneratedSource/
infernet/bin/
obj/
data/
experiments/testing/state-*
*.html
*.aux
*.blg
*.log
*.gz
*.bbl

!cache/sgm-202324/
cache/codeforces

input.csv
multi-skill/glicko.txt
.DS_Store
